@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 222.2 84% 4.9%; /* Texto Principal */
    --background: 0 0% 85%; /* Background Principal */

    --secondary: 210 40% 98%; /* Texto Secundário */
    --background-secondary: 0 0% 20%; /* Background Secundário (oposto) */

    --highlight: 358 65% 54%; /* Vermelho (text, bg) */
  }

  .dark {
    --primary: 210 40% 98%; /* Texto Principal */
    --background: 0 0% 20%; /* Background Principal */

    --secondary: 222.2 84% 4.9%; /* Texto Secundário */
    --background-secondary: 0 0% 85%; /* Background Secundário (oposto) */

    --highlight: 358 65% 54%; /* Vermelho (text, bg) */
  }
}

@layer base {
  @font-face {
    font-family: "Alte Haas Grotesk";
    font-weight: 400;
    src: url(/fonts/AlteHaasGroteskRegular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Alte Haas Grotesk";
    font-weight: 700;
    src: url(/fonts/AlteHaasGroteskBold.ttf) format("truetype");
  }
}

@layer base {
  body {
    @apply bg-background font-alteHaas text-primary;
  }
  html,
  body {
    font-family: "Alte Haas Grotesk", ui-sans-serif, system-ui, sans-serif !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
