@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 0, 0, 0; /* Texto Principal */
    --secondary: 255, 255, 255; /* Texto Secundário */

    --background: 224, 224, 224; /* Background Principal */
    --background-secondary: 50, 50, 50; /* Background Secundário (oposto) */

    --highlight: 214, 62, 68; /* Vermelho (text, bg) */

    --light-gray: 217, 217, 217;
    --dark-gray: 50, 50, 50;
  }

  .dark {
    --primary: 255, 255, 255; /* Texto Principal */
    --secondary: 0, 0, 0; /* Texto Secundário */

    --background: 50, 50, 50; /* Background Principal */
    --background-secondary: 224, 224, 224; /* Background Secundário (oposto) */

    --highlight: 214, 62, 68; /* Vermelho (text, bg) */

    --light-gray: 217, 217, 217;
    --dark-gray: 50, 50, 50;
  }
}

@layer base {
  body {
    @apply bg-background text-primary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
