@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 0, 0, 0; /* Texto Principal */
    --background: 224, 224, 224; /* Background Principal */

    --highlight: 214, 62, 68; /* Vermelho (text, bg) */

    --light-gray: 217, 217, 217;
    --dark-gray: 50, 50, 50;
  }

  .dark {
    --foreground: 255, 255, 255; /* Texto Principal */
    --background: 50, 50, 50; /* Background Principal */

    --highlight: 214, 62, 68; /* Vermelho (text, bg) */

    --light-gray: 217, 217, 217;
    --dark-gray: 50, 50, 50;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
